@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
  }

  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 15px;
  }


}

@media only screen and (min-width: 768px) {
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 60px;
    font-weight: bold;
    line-height: 34px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
  }

  h1 {
    margin-top: 0;
    font-size: 4vw;
  }
  
  h2 {
    margin-top: 0;
    font-size: 3vw;
  }
  
  h4 {
    margin-top: 0;
    font-size: 2vw;
  }
}

.winning-square {
  background: yellow;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
